#contador-productos{
    font-size: 12px;
}
.fondo {
    background-image: url(img/istockphoto-1310151529-640x640.jpg);   
}
/* Esto es para que el boton de usuario quede tactil */
.dropdown:hover .dropdown-menu {
    display: block;
}
/*Botones de arriba*/
.contendorBoton{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}
.contendorBoton2{
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: -50px;
}
.btnCarritoLogin{
    display: flex;
    margin-right: 60px;
}
.btnBuscar{
    margin-left: 30px;
    
}
.carruselCard{
    display: flex;
    justify-content: center;
}
.Ccard{
    margin-right: 20px;
}

.img1{
    display: inline-block;
    margin: 20px;
}

footer {
    background-color:#7888AF;
    padding: 6px 0;
    text-align: left;
    margin-top: 20px;
  }

.social-icons li {
    display: inline-block;
    margin-right: 10px; 
}
.fundacion{
    margin-top: -60px;
}
.btn-modal{
    text-align: center;
}

/*AQUI EMPEZA EL CODIGO DEL CARRITO DE COMPRAS*/
.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header*/
.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}


/* Main*/
.container-items{
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    gap: 20px;
}
.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}

.hidden{
    display: none;
}
.filtros {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}




.botones {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.btnBuscar {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; }

.btnBuscar button {
    background: none; /* Elimina el fondo del botón */
    border: none; /* Elimina el borde del botón */
    padding: 0; /* Elimina el padding del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.search-input {
    margin-left: 10px; /* Espacio entre el botón y el input */
}

button.btn {
    margin-bottom: 10px; /* Espacio entre los botones */
}
