<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        {% if producto %}
            <h2>Formulario Actualizar Productos</h2><br>
            <form action="{% url 'productosUpdate' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <pre>Id Producto:               <input type="text" name="id_producto"    value="{{producto.id_producto}}"></pre>
                <pre>Nombre:               <input type="text" name="nombre"    value="{{producto.nombre}}"></pre>
                <pre>Precio:          <input type="number" name="precio"    value="{{producto.precio}}"></pre>
                <pre>Imagen:           <input type="file" name="imagen"    value="{{producto.imagen}}"></pre>
                <pre>Cantidad:           <input type="number" name="cantidad"    value="{{producto.cantidad}}"></pre>
                <pre>Categoria:               <select name="categoria">
                    {% for x in categorias %}
                        {% if x.categoria == producto.id_categoria.categoria %}
                            <option value="{{x.id_categoria}}" selected>{{x.categoria}}</option>
                        {% else %}
                            <option value="{{x.id_categoria}}">{{x.categoria}}</option>
                        {% endif %}
                    {% endfor %}
                </select></pre>

                <input type="submit" name="opcion" value="Actualizar">
            </form> <br><br>
        {% endif %}
        <div id="idMensaje">
            {% if mensaje %}
                {{mensaje}}
            {% endif%}
        </div>
        <br><br>
        <a href="{% url 'nuevos_prod' %}">Volver</a>
    </div>
</body>
</html>